@import "./var";
@import "./mixins";

.header {
  padding-top: 31px;
  padding-bottom: 28px;
  background-color: $colorDark;
  &__container{
    @include flexCenter;
    
  }
}

.burger-btn {
  display: none;
}

.header__logo{
   margin-right: 11.2%;
}

.menu {
  margin-right: auto;
}

.menu {
  @include flexCenter;
  flex-grow: 1;
  &__button{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: white;
    transition: color .3s ease-in-out;
    &-img{
      height: 13px;
      width: 13px;
      fill: white;
      transition: fill .3s ease-in-out;
    }
  }
  &__close-btn {
    display: none;
  }
}

.nav {
  margin-right: auto;
  &__list {
    @include flexCenter;
    &-item:not(:last-child) {
      margin-right: 3.9rem;
    }
    &-link {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: white;
      transition: color .3s ease-in-out;
    }
  }
}

.search{
  position: relative;
  display: none;
}


@media (max-width: 1390px) {
  .header{
    padding-top: 32px;
    padding-bottom: 26px;
    &__container{
      justify-content: space-between;
    }
    &__logo {
      margin-right: 0;
      width: 195px;
    }
  }

  .burger-btn{
    display: block;
    
    &__img {
      height: 28px;
      width: 36px;
      fill: white;
    }
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 0 4.89%;
    padding-top: 30px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: baseline;
    height: 100vh;
    max-width: 100vw;
    background-color:  rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    @include disableAnimation;
    &__button {
      padding: 22px 88px;
      border: 2px solid $colorBorderBtn;
      border-radius: 100px;
    }
    &__close-btn{
      display: block;
      &-img {
        margin-bottom: 30px;
        height: 29px;
        width: 29px;
      }
    }
    
    &_active {
      @include activeAnimation;
    }
  }

  .nav {
    margin-right: 0;
    margin-bottom: auto;
    &__list{
      flex-direction: column;
      align-items: baseline;
    }
    &__list-item{
      margin-right: 0;
      padding: 0;
    }
    &__list-link{
      font-weight: 600;
      font-size: 24px;
      line-height: 64px;
    }
  }

  .search {
    display: block;
    &__form {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      @include flexCenter;
      background-color: $colorDark;
      @include opasityTransformTransition;
      &_active{
        @include activeAnimation;
      }
      &_disable{
        visibility: hidden;
        opacity: 0;
        transform: translateX(100%);
        @include opasityTransformTransition;
      }
    }
    &__button-search-img,
    &__form-close-btn-img,
    &__button-img {
      width: 29.45px;
      height: 28.82px;
    }
    &__input {
      margin-right: 30px;
      border: none;
      border-bottom: 1px solid white;
      background-color: transparent;
    }
    &__button-search {
      margin-right: 30px;
    }
  }
}

@media (max-width:1023px){
  .header {
    padding-top: 29px;
  }
  .search{
    &__form {
      top: -100%;
      height: 90px;
      width: 91vw;
    }
    &__input {
      flex-grow: 1;
    }
  }
}

@media (max-width:767px){
    .header{
      padding-top: 12px;
      padding-bottom: 8px;
    }
    .header__logo{
      width: auto;
    }
    .search {
    &__form {
      top: -100%;
      height: 50px;
      width: 91vw;
    }
    &__button-search-img,
    &__form-close-btn-img{
      height: 23px;
      width: 23px;
    }
    &__button-search,
    &__input{
      margin-right: 15px;
    }
    &__input{
      min-width: 50px;
    }
    &__button-img,
    &__button {
        height: 18px;
        width: 18px;
      }
  }
  .burger-btn__img {
    height: 18px;
    width: 25px;
  }

  .menu {
    padding-top: 16px;
    padding-left: 16px;
    &__close-btn-img{
      margin-bottom: 16px;
      height: 15px;
      width: 15px;
    }
    &__button{
      padding: 15px 32px;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
    }
    &__button-img {
      height: 9px;
      width: 9px;
    }
  }
  .nav {
    &__list-link{
      font-weight: 600;
      font-size: 16px;
      line-height: 32px;
    }
  }
  
}




