/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --link-focus-bgc-color: #7943A4;
}
/* focus */
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

button:focus-visible {
  outline: none;
}

.nav__link,
.enter-btn,
.submenu__item-btn,
.project__text-link,
.event__link,
.hero__btn,
.tabs__item-trigger-text,
.tabs__nav-btn,
.callback__btn {
  position: relative;
  outline: none;
  z-index: 2;
}

.nav__link::after,
.enter-btn::after,
.submenu__item-btn::after,
.project__text-link::after,
.event__link::after,
.tabs__item-trigger-text::after,
.tabs__nav-btn::after {
  content: " ";
  position: absolute;
  top: -4px;
  right: -6px;
  bottom: -4px;
  left: -6px;
  background-color: var(--link-focus-bgc-color);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.enter-btn::after {
  top: 3px;
  bottom: 6px;
}

.submenu__item-btn::after {
  top: 0;
}

.nav__link.focus-visible::after,
.enter-btn.focus-visible::after,
.submenu__item-btn.focus-visible::after,
.project__text-link.focus-visible::after,
.event__link.focus-visible::after,
.hero__btn.focus-visible::after,
.tabs__nav-btn.focus-visible::after {
  opacity: 1;
}

.project__text-link.focus-visible {
  color: #fff;
}

.searching-form__input.focus-visible {
  border-color: #C283F3;
}

.art-directions__link.focus-visible .art-directions__link-img{
  border: 2px solid #9D5CD0;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

.event__link.focus-visible {
  color: #fff;
}

.event__link.focus-visible::before {
  border-color: #fff;
}

.hero__btn::after {
  content: "";
  position: absolute;
  top: -7px;
  bottom: -7px;
  left: -7px;
  right: -7px;
  border: 2px solid #C283F3;
  border-radius: 100px;
  background-color: transparent;
  opacity: 0;
}

.swiper-slide {
  position: relative;
}
.swiper-slide.gallery__swiper-slide {
  outline: none;
}

.swiper-slide.gallery__swiper-slide::before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 2px;
  left: 0;
  right: 0;
  border: 3px solid #7943A4;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.swiper-slide.gallery__swiper-slide.focus-visible::before {
  opacity: 1;
}

.gallery__swiper-btn-next,
.gallery__swiper-btn-prev,
.events__swiper-btn-next,
.events__swiper-btn-prev,
.partners__swiper-btn-next,
.partners__swiper-btn-prev {
  outline: none;
}

.gallery__swiper-btn-next.focus-visible,
.gallery__swiper-btn-prev.focus-visible,
.events__swiper-btn-next.focus-visible,
.events__swiper-btn-prev.focus-visible,
.partners__swiper-btn-next.focus-visible,
.partners__swiper-btn-prev.focus-visible {
  border: 2px solid #9D5CD0;
}

.ac .ac-trigger.tabs__item-trigger {
  outline: none;
}

.tabs__item-trigger.focus-visible .tabs__item-trigger-text::after{
  opacity: 1;
}

.tabs__item-trigger.focus-visible .tabs__item-trigger-text {
  color: #fff;
}

.ac .ac-trigger.tabs__item-trigger.focus-visible .tabs__item-trigger-arrow {
  background-color: #D1A9F0;
}

.swiper-slide.partners__slide {
  outline: none;
}

.swiper-slide.partners__slide.focus-visible {
  border-color:#9D5CD0;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

.contact-links__link.focus-visible svg {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.contact-links__link:focus-visible svg,
.contact-links__link:focus svg {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

.footer__contact-links__link {
  outline: none;
}

.footer__contact-links__link svg  {
  fill: #CACACA;
}


.footer__contact-links__link.focus-visible svg {
  fill: #fff;
}


.checkbox.focus-visible ~ .checkbox__text {
  color: #7943A4;
}

.checkbox.focus-visible ~ .checkbox__square {
  border-color: #7943A4;
}

.tultip.focus-visible svg {
  fill: #D1A9F0;
}

.callback__input.focus-visible {
  background-color: #ECECEC;
}

.callback__btn::after {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -6px;
  right: -6px;
  border: 2px solid #C283F3;
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.callback__btn.focus-visible::after {
  opacity: 1;
}

.choices.focus-visible {
  background-color: rgba(255, 255, 255, 0.2);;
}
/* hover */
@media(min-width: 1621px){
  .nav__link:hover {
    color: #C283F3;
  }
  
  .enter-btn:hover {
    color: #C283F3;
  }
  
  .enter-btn:hover span svg path{
    fill: #C283F3;
  }
  
  .submenu__item-btn:hover {
    color:#9D5CD0;
  }
  
  .submenu__item-btn:hover svg path {
    stroke:#9D5CD0;
  }
  
  .searching-form__input:hover {
    border-color: #C283F3;
  }
  
  .art-directions__link:hover > .art-directions__link-img {
    border-color: #9D5CD0;
  }
  
  .hero__btn:hover {
    border: 3px solid #D1A9F0;
  }
  
  .choices:hover {
    background-color: rgba(255, 255, 255, 0.2);;
  }
  
  .gallery__swiper-btn-next:hover,
  .gallery__swiper-btn-prev:hover,
  .events__swiper-btn-next:hover,
  .events__swiper-btn-prev:hover,
  .partners__swiper-btn-next:hover,
  .partners__swiper-btn-prev:hover {
    background-color: #D1A9F0;
    border-color: #D1A9F0;
    transition: background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
  }
  
  .checkbox:hover ~ .checkbox__square {
    border-color: #C283F3;
    transition: border-color 0.3s ease-in-out;
  }
  
  .gallery__swiper-slide:hover > .gallery__lense {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
  .tabs__item-trigger:hover > .tabs__item-trigger-text  {
    color: #9D5CD0;
    transition: color 0.3s ease-in-out;
  }
  
  .ac .ac-trigger.tabs__item-trigger:hover > .tabs__item-trigger-arrow  {
    background-color: #D1A9F0;
    transition: background-color 0.3s ease-in-out;
  }
  
  .tabs__nav-btn:hover {
    border-color: #9D5CD0;
    transition: border-color 0.3s ease-in-out;
  }
  
  .event__link:hover {
    color: #7943A4;
    transition: color 0.3s ease-in-out;
  }
  
  .event__link:hover::before {
    border-color: #7943A4;
    transition: border-color 0.3s ease-in-out;
  }
  
  .tultip:hover svg {
    fill: #D1A9F0;
  }
  
  .project__text-link:hover {
    color: #9D5CD0;
    border-color: #9D5CD0;
  }
  
  .partners__slide:hover > .partners__img {
    filter: grayscale(0);
  }
  
  .callback__btn:hover {
    color: #fff;
    background-color: #9D5CD0;
    border-color: #9D5CD0;
  }
  
  .callback__input:hover {
    background-color: #ECECEC;
  }
  
  .contact-links__link:hover svg{
    filter: opacity(0.5);
  }
  
  .footer__contact-links__link:hover svg {
    fill: #fff;
  }
}

/* active */

.nav__link:active {
  color: #7943A4;
}

.enter-btn:active {
  color: #9D5CD0;
}

.enter-btn:active span svg path{
  fill: #9D5CD0;
}

.submenu__item-btn:active {
  color: #7943A4;
}

.submenu__item-btn:active svg path {
  stroke: #7943A4;
}

.searching-form__input:active {
  border-color: #7943A4;
}

.art-directions__link::after {
  content: " ";
  position: absolute;
  top: -25px;
  bottom: 7px;
  left: 2px;
  right: 2px;
  opacity: 0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(.jpg);;
}

.art-directions__link:active::after{
  opacity: 1;
}

.hero__btn:active {
  background: #7943A4;
  border: 3px solid #D1A9F0;
}

.event__link:active {
  color: #333333;
}

.event__link:active::before {
  border-color: #333333;
}

.gallery__swiper-btn-next:active,
.gallery__swiper-btn-prev:active,
.events__swiper-btn-next:active,
.events__swiper-btn-prev:active,
.partners__swiper-btn-next:active,
.partners__swiper-btn-prev:active {
  border-color: #9D5CD0;
}

.gallery__swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 4px;
  right: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.gallery__swiper-slide:active::after {
  opacity: 1;
}

.tabs__item-trigger:active > .tabs__item-trigger-text  {
  color: #7943A4;
}

.tabs__item-trigger:active{
  border-color: #7943A4;
}

.tabs__item-trigger:active > .tabs__item-trigger-arrow  {
  border-color: #7943A4;
}

.checkbox:checked ~ .checkbox__square::before {
  display: block;
}

.checkbox:checked ~ .checkbox__square {
  border-color: #C283F3;
}

.checkbox:checked ~ .checkbox__text {
  color: #C283F3;
}

.callback__btn:active {
  background: #7943A4;
  border: 2px solid #D1A9F0;
}

.swiper-slide.partners__slide:active {
  border-color: #9D5CD0;
}

.contact-links__link:active svg {
  border-radius: 50%;
  border: 1px solid #9D5CD0;
}

.contact-links__link_watsapp:active svg {
  background: #30BF39;
}

.contact-links__link_telegram:active svg {
  background: #26A5E4;
}

.footer__contact-links__link:active svg {
  fill: #9D5CD0;
}

.tultip:active svg {
  fill: #9D5CD0;
}

.tultip:active svg path:nth-child(2) {
  fill: #fff;
}

.project__text-link:active {
  color: #7943A4;
  border-color: #7943A4;
}


