/* @font-face {
  font-family: 'OpenSans-Bold';
  src: url('fonts/OpenSans-Bold.woff2') format('woff2'),
  url('fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('OpenSans-Regular.woff2') format('woff2'),
  url('OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url('OpenSans-Italic.woff2') format('woff2'),
  url('OpenSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('OpenSans-SemiBold.woff2') format('woff2'),
  url('OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
} */

:root {
  --black: #000000;
  --white-text: #fff;
  --submenu-bgr: rgba(0, 0, 0, 0.5);
  --btn-color: #9D5CD0;
  --gray: #666666;
  --mine-shaft: #333333;
  --tabs-item-border-color: #CACACA;
  --tabs-item-border-color-active: #9D5CD0;
  --tabs-item-border: 1px solid var(--tabs-item-border-color);
}



body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.reset-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.reset-link {
  text-decoration: none;
}

.display-none {
  display: none;
}

.button {
  border: 1px solid transparent;
  border-radius: 100px;
}


.container {
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.header-hero__wrapper {
  background-image: url('../img/header/header-slider-1-1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.menu {
  background-color: var(--black);
}

.menu__container {
  display: flex;
  padding-top: 30px;
  padding-bottom: 25px;
}

.menu__logo {
  margin-right: auto;
}

.header__nav{
  margin-right: 421px;
}

.nav {
  display: flex;
  align-items: center;
}

.header__nav {
  padding-bottom: 6px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 62px;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-text);
}

.enter-btn {
  padding-bottom: 6px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-text);
}

.enter-btn span {
  margin-right: 3px;
}

.submenu {
  background-color: var(--submenu-bgr);
}

.submenu__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 19px;
}

.submenu__list {
  display: flex;
}

.submenu__item {
  color: var(--white-text);
}

.submenu__item:not(:last-child) {
  margin-right: 97px;
}

.submenu__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.searching-form {
  display: flex;
  align-items: center;
}

.searching-form__btn {
  margin-right: 9px;
}

.searching-form {
  padding-top: 4px;
}

.searching-form__input {
  width: 218px;
  padding-right: 5px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
}

.searching-form__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: var(--white-text);
}

.hero__container {
  padding-top: 64px;
  padding-bottom: 121px;
}

.hero__title {
  margin-bottom: 5px;
  max-width: 40%;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--white-text);
}

.hero__text {
  margin-top: -9px;
  max-width: 34%;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--white-text);
}

.hero__btn {
  display: inline-block;
  padding: 22.5px 34px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--white-text);
  background-color: var(--btn-color);
  border-color: var(--btn-color);
}

.about__container {
  padding-top: 80px;
  padding-bottom: 70px;
}
.about__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}
.about__text {
  max-width: 65%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.gallery {
  background-image: url(../img/gallery/gallery-bgr-img-1920.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__container {
  display: flex;
  padding-top: 80px;
  padding-bottom: 75px;
}

.gallery__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--white-text);
}

.gallery__filter {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.filter__heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-text);
}

.choices {
  margin-top: 11px;
  margin-bottom: auto;
}

.choices__inner {
  width: 400px;
  min-height: 0;
  padding: 2px 15px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
}

.choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 4px;
}

.choices[data-type*="select-one"]::after {
  display: none;
}

.choices__list--single {
  padding: 0;
}

.choices.is-open .choices__inner{
  border-radius: 6px;
}

.choices__list.choices__list--dropdown.is-active {
  background-color: transparent;
  border: 1px solid rgba(153, 153, 153, 1);
  border-radius: 6px;
}

.choices__list--dropdown 
.choices__item--selectable.is-highlighted, 
.choices__list[aria-expanded] 
.choices__item--selectable.is-highlighted{
  background: rgba(255, 255, 255, 0.2);
}

.choices__placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-text);
  opacity: 1;
}

.gallery__checkbox-container {
  display: flex;
  flex-direction: column;
}


.gallery__checkbox-container {
  padding-bottom: 5px;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.filter__checkbox-label {
  position: relative;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-text);
  cursor: pointer;
}

.checkbox__square {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid var(--white-text);
}

.checkbox__square::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  display: none;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--btn-color);
}

.checkbox:checked + .checkbox__square::before {
  display: block;
}

.checkbox:checked + .checkbox__square {
  border-color: var(--btn-color);
}


.gallery__swapper-container {
  padding-top: 18px;
  min-width: 0;
}

.gallery__swiper-btns-cont {
  display: flex;
  align-items: baseline;
  margin-bottom: 31px;
  padding-left: 2px;
}

.gallery__swiper-btn-next.swiper-button-next::after,
.gallery__swiper-btn-prev.swiper-button-prev::after {
  display: none;
  justify-content: center;
  align-items: end;
  width: 30px;
  height: 30px;
  font-size: 10px;
  color: var(--white-text);
  border-radius: 50%;
  background-color: var(--gray);
}

.gallery__swiper-btn-prev {
  margin-right: 20px;
}

.gallery__swiper-btn-prev,
.gallery__swiper-btn-next {
  width: 30px;
  height: 30px;
  font-size: 10px;
  color: var(--white-text);
  border-radius: 50%;
  background-color: var(--gray);
}

.gallery__swiper-btn-prev {
  transform: rotate(90deg);
}

.gallery__swiper-btn-next {
  transform: rotate(-90deg);
}

.gallery__swiper-paginator {
  margin-right: 19px;
  padding-top: 3px;
}


.gallery__swiper-btn-prev,
.gallery__swiper-btn-next,
.gallery__swiper-paginator {
  position: static;
}

.gallery__swiper-paginator {
  width: auto;
}

.gallery__swiper-paginator,
.swiper-pagination-current,
.swiper-pagination-total {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-text);
}

.catalogue__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.catalogue__title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--mine-shaft);
}

.catalogue__text {
  margin-bottom: 38px;
  max-width: 68%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.catalogue__content {
  display: flex;
}

.catalogue__tabs {
  margin-right: 48px;
  max-width: 47%;
}

.tabs__item {
  display: none;
  flex-direction: column;

}

.tabs__item--active {
  display: flex;
}

.tabs__item-img {
  margin-bottom: 26px;
}

.tabs__item-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.tabs__item-years-of-live{
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.tabs__item-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--mine-shaft);
}

.tabs__nav-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--mine-shaft);
}

.tabs__nav-btn--active {
  color: var(--btn-color);
}

.catalogue__accordion {
  flex-grow: 1;
}

.tabs__list-item {
  margin-top: 0;
}




.tabs__list-item {
  border-right: none;
  border-left: none;
  border-top: var(--tabs-item-border);
  border-bottom: var(--tabs-item-border);
}

.tabs__list-item--active {
  border-color: var(--tabs-item-border-color-active);
}

.ac .ac-trigger.tabs__item-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--mine-shaft);
}

.tabs__item-trigger-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  stroke: black;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #ECECEC;
}

.ac .ac-trigger.tabs__item-trigger.tabs__item-trigger--active {
  border-bottom: 1px solid var(--btn-color);
}

.tabs__item-trigger--active .tabs__item-trigger-arrow{

  background-color: #D1A9F0;
  border-color: var(--btn-color);
  transform: rotate(180deg);
}

.ac .ac-trigger::after {
  display: none;
}

.ac .ac-panel .ac-text {
  padding: 0;
}

.tabs__list-item.is-active > .ac-header > .tabs__list-panel {
  display: flex;
  align-items: baseline;
  max-height: 318px;
  padding-top: 26px;
  padding-right: 62px;
  padding-bottom: 25px;
  flex-direction: column;
  flex-wrap: wrap;
}

.events__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--mine-shaft);
}

.events__item {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.event__img {
  max-width: 100%;
}
